$grid-columns: 51;

.container {
  position: absolute;
  top: -20px;
  left: -11px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr 2fr) 1fr;
  grid-gap: 1px 2px;
  list-style-type: none;
  width: 2023px;
  padding: 0;
  margin: 0;
}
