@import './styles/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$grid-rows: 22;
$grid-columns: 51;

@mixin hex-grid($rows, $columns) {
  @for $i from 1 through $columns {
    &:nth-of-type(#{$columns}n + #{$i}) {
      grid-column: #{2 * $i - 1} / span 3;
      @if $i % 2 == 1 {
        grid-row: calc(2 * var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through $rows * $columns {
    &:nth-of-type(n + #{$i * $columns + 1}) {
      --counter: #{$i + 1};
    }
  }
}

@mixin hex-background(
  $background,
  $hover-background: darken($background, 7.5%),
  $active-background: darken($background, 10%)
) {
  background: $background;
  cursor: pointer;

  &:hover {
    background: $hover-background;
  }

  &:active {
    background: $active-background;
  }
}

.container {
  --counter: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
  grid-row: calc(2 * var(--counter)) / span 2;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  aspect-ratio: 1000 / 869;
  opacity: 0.75;
  transition: background ease 0.2s;

  @include hex-grid($grid-rows, $grid-columns);
}

.unclaimed {
  @include hex-background(none, $gray-500, darken($gray-500, 2.5%));
}

.claimed {
  @include hex-background($green);
}

.stronghold {
  @include hex-background($blue);
}
