@import './styles/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.mapContainer {
  overflow: hidden;
  border: 1px solid $black;
  height: 400px;
}

.draggable {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.map {
  position: relative;
  overflow: hidden;
  width: max-content;
}
